.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.tile {
    border-radius: 8px;
}

.tile:hover {
    cursor: pointer;
}

.text {
    text-align: center;
    padding-bottom: 8px;
    padding-top: 8px;
}