.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: white;
}
.tile {
    border-radius: 10px;
}

.tile:hover {
    cursor: pointer;
}

.icon {
    color: rgba(255, 255, 255, 0.54);
}
